.input {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid #3f3f3f;
    width: 100%;
    color: #fff;
    /* transition: border-bottom 0.4s ease; */
   
}

.input:focus {
    outline: none;
    border-bottom: 2px solid white;
}

.input-title {
    font-size: 32px;
  

}

.invalid {
    border-bottom: 2px solid red;
    /* background-color: rgb(113, 13, 13); */
    color: white;

}